button.btn-hsn {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    background: #e6e6e6;
    font-family: "unineue", "Open Sans", sans-serif;
    font-size: 11px;
    box-shadow: inset -3px 29px 35px -12px #fff;
    border: 1px #ccc solid;
    border-radius: 4px;
    color: #222;  
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

button.btn-hsn:hover {
    transition: all .3s ease-out;
    opacity: .5;
    border-color: #666;
    color: #666;
    background-color: #e6e6e6;
    text-decoration: none;
}

span.descuento {
    font-family: "unineue", "Open Sans", sans-serif;
    font-size: 1.1em;
    height: 1.5em;
    padding: 0 5px;
    color: #fff;
    line-height: 1.4em;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 3px;
    background: #e2001a;
    float: right;    
}

span.trash-icon {
    position:absolute;
    top:10px;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    border: 1px solid;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background: #ccc;
    color: #fff; 
    cursor: pointer;

}