h1 {
  font: bold italic 28px "unineue", "Open Sans", sans-serif;
  color: #e26c0a;
  text-transform: uppercase;
}

h2 {
  font: bold italic 20px "unineue", "Open Sans", sans-serif;
  color: #333;
  text-align: left;
  margin: 0 0 15px 0;
  padding: 15px 0 0 0;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

p {
  color: #666;
  font-size: 14px;
}

strong {
  color: #666;
  font-size: 14px;
  font-weight: 600;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

li {
  border-bottom: 1px dotted #ccc;
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 5px;
  display: inherit;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.carousel-indicators button {
  width: 2em;
  height: 14px;
  background-color: #000000;
  border: none;
  border-radius: 0px;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.carousel-indicators button.active {
  background-color: #ff6000;
}

.landing-carousel-img {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 600px;
}

a {
  color: #666;
  text-decoration: underline;
}

#carouselExample {
  width: 100%;
}

@media (min-width: 992px) {
  .landing-carousel-img {
    width: 1600px;
    height: 600px;
    margin: 0 auto;
  }
}
