:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  color: #212529; /* Bootstrap default text color */
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
