.modify-link {
    text-align: right;
    font-size: 0.9em;
    color: #000;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.final-message-checkout {
    background-color: #57cad91a;
    border: 1px solid #57cad9;
    border-radius: 3px;
    color: #57cad9;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    z-index: 1;
    padding: 10px;
    margin: 15px;
}

.btn-hsn-1 {

    background-color: #00b22d;
    color: #fff;
    font-size: 1.16em;
    border: 1px solid #00b22d;
    font-family: "unineue", "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
    box-shadow: 0 5px 0 0 #2c942f;
    padding-top: 10px;
    transition: all .3s ease-out;
}