.header-top-main-sm {
  font-size: 0.5625rem;
  line-height: 1.1;
}
.header-top-main-link {
  color: #999999 !important;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
}
.header-top-main-link:hover {
  color: #ff904d !important;
  text-decoration: underline;
  text-decoration-color: #ff904d;
}
.header-top-main-flag {
  width: 16px !important;
  height: 11px !important;
  vertical-align: middle;
  margin-right: 2px;
}
