.header-top-main-sm {
  font-size: 0.5625rem;
  line-height: 1.1;
}

.header-top-main-link {
  color: #999999;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
}

.header-top-main-link:hover {
  color: #ff904d;
  text-decoration: underline;
  text-decoration-color: #ff904d;
}

.header-top-main-flag {
  width: 16px;
  height: 11px;
  vertical-align: middle;
  margin-right: 2px;
}

.trustedshop img {
  width: 36px;
  height: 36;
  margin-right: 0.5rem;
  object-fit: contain;
}

.trustedshop > a > span,
.trustedshop .me-2.text-dark {
  font-size: 0.7rem;
  line-height: 1;
}

.trustedshop .rating i {
  font-size: 0.7rem;
  margin-right: 0.15rem;
}

.trustedshop .rating .fw-bold {
  font-size: 0.55rem;
  margin-left: 0.25rem;
}

@media (max-width: 576px) {
  .trustedshop img {
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
  }
  .trustedshop > a > span,
  .trustedshop .me-2.text-dark {
    font-size: 0.82rem;
  }
  .trustedshop .rating i,
  .trustedshop .rating .fw-bold {
    font-size: 0.78rem;
  }
}

.dropdown-menu {
  z-index: 999999;
}
